nav {
  --primary-color: #ffb84c;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
}
.logo {
  font-weight: 600;
  font-size: 2rem;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-items span {
  font-size: 1.2rem;
}
.menu-bar {
  display: none;
}
.drop-dwon-menu {
  display: none;
}
.drop-dwon-menu {
  display: flex;
  flex-direction: column;
  max-width: 99%;
  width: 100%;
  margin: auto;
  position: absolute;
  border-radius: 5px;
  z-index: 5;
  margin: auto;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media screen and (max-width: 600px) {
  .menu-bar {
    display: block;
  }
  .nav-item {
    display: none;
  }
}
